# Environment Configuration
ENVIRONMENT=development

# Server Configuration
PORT=5000

# CORS Configuration
CORS_ALLOW_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# Logging Configuration
LOG_LEVEL=info

# Database
MONGODB_URI=""